@using Cinemate.Models.Dto
@using Cinemate.Web.Services.Contracts
@inject ISelectedMovieService SelectedMovieService
@inject IJSRuntime JSRuntime

@code {
    // Parameters
    [Parameter]
    public int MovieId { get; set; }
    [Parameter]
    public bool SecretMovie { get; set; }

    [Parameter]
    public DateTime SelectedDate { get; set; }

    [Inject] public IScreeningService? ScreeningService { get; set; }
    [Inject] protected PreloadService PreloadService { get; set; } = default!;


    private IEnumerable<ScreeningWithInfoDto>? AllScreenings { get; set; }
    private IEnumerable<ScreeningWithInfoDto>? FilteredScreenings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllScreenings = await ScreeningService?.GetAllScreenings();
        FilterScreenings();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        FilterScreenings();
    }

    private void FilterScreenings()
    {
        if (AllScreenings != null)
        {
            if (SelectedDate.Date == DateTime.Now.Date)
            {
                // Als de geselecteerde datum vandaag is, filter op toekomstige tijd
                var currentTime = DateTime.Now.TimeOfDay;
                FilteredScreenings = AllScreenings.Where(s =>
                    s.MovieId == MovieId &&
                    s.MovieStart.Date == SelectedDate.Date &&
                    s.MovieStart.TimeOfDay >= currentTime
                );
            }
            else
            {
                // Als de geselecteerde datum niet vandaag is, toon alle screenings voor die dag
                FilteredScreenings = AllScreenings.Where(s =>
                    s.MovieId == MovieId &&
                    s.MovieStart.Date == SelectedDate.Date
                );
            }
        }
    }
}

<div class="time-slot-selector-container">
    <div class="time-slot-selector-inner">
        @if (FilteredScreenings != null)
        {
            @foreach (var screening in FilteredScreenings)
            {
                <Web_TimeSlot ScreeningInfo="@screening"></Web_TimeSlot>
            }
        }
    </div>
</div>
