@using Cinemate.Models.Dto
@using Cinemate.Web.Services.Contracts


@code {
    [Parameter] public ScreeningWithInfoDto ScreeningInfo { get; set; }
    [Inject] public IReservationService ReservationService { get; set; }
    [Inject] public ISelectedMovieService SelectedMovieService { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

}

<div @onclick="HandleTimeslotClick" class="time-slot-container">
    <div>
        <p class="time">@ScreeningInfo.MovieStart.ToString("HH:mm")</p>
    </div>
    <i class="fa-solid fa-arrow-right"></i>
</div>

@code {

    public async Task HandleTimeslotClick()
    {

        try
        {
            var secretMovieDto = new SecretMovieDto { MovieStart = ScreeningInfo.MovieStart };
            var result = await ReservationService.AddSecretMovieReservation(secretMovieDto);
            if (result != null)
            {
                ReservationService.SetLocalSecretMoviePreReservation(result);
                var movie = new MovieDtoImage
                {
                    Cast = "???",
                    Description = "???",
                    Director = "???",
                    Duration = 0,
                    Id = 0,
                    Kijkwijzers = "???",
                    MovieCategoryDescription = "???",
                    MovieCategoryId = 0,
                    MoviePosterUrl = "https://localhost:7201/images/posters/SecretMovie.jpg",
                    MovieScreenshotUrl = "https://localhost:7201/images/screenshots/SecretMovie.jpg",
                    Review = 10,
                    Title = "???",
                    ReleaseYear = 2349,
                    ReleaseCountry = "???",
                    
                };
                SelectedMovieService.SetSelectedMovieAsync(movie);
                NavigationManager.NavigateTo($"/tickets-and-payment?SecretMovie=true");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
    }
}