<img class="movie-img-container" src="/images/image-placeholder.webp" alt="Movie image" />

<h2>Wish (NL)</h2>

<div class="movie-details-primary">
    <div class="mpa-rating">
        <img class="mpa-icon" src="/images/kijkwijzer-6.svg" alt="Kijkwijzer - leeftijd 6"/>
        <img class="mpa-icon" src="/images/kijkwijzer-eng.svg" alt="Kijkwijzer - eng"/>
        <img class="mpa-icon" src="/images/kijkwijzer-geweld.svg" alt="Kijkwijzer - geweld"/>
    </div>
    <p class="movie-duration">95 minuten</p>
</div>

<p>Wish speelt zich af in het magische koninkrijk Rosas en vertelt het verhaal van Asha, een optimist met scherpe humor die veel geeft om haar gemeenschap. Wanneer Asha zich op een moment van nood naar de hemel wendt en een wens doet, wordt haar smeekbede beantwoord door een kosmische kracht – een kleine bal gevuld met grenzeloze energie die Star wordt genoemd.</p>

<table class="movie-details-secondary">
    <tbody>
    <tr>
        <td>
            <p>Bij Cinemate vanaf</p>
        </td>
        <td>
            <p>Woensdag 22 november 2023</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Genre</p>
        </td>
        <td>
            <p>Kinderfilm</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Gesproken taal</p>
        </td>
        <td>
            <p>Nederlands</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Audiodiscriptie</p>
        </td>
        <td>
            <p>Nee</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Regisseur</p>
        </td>
        <td>
            <p>Chris Buck</p>
        </td>
    </tr>
    </tbody>
</table>