<div class="movie-thumb-container">
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
    <MovieThumb></MovieThumb>
</div>