:root {
    --dark-purple: #19072c;
    --medium-purple: #2b1b3d;
    --light-purple: #8c8395;
    --bright-purple: #6c42bf;
    --bright-pink: #cd00c4;
    --border-color: #4b3d5a;
    --white: #ffffff;

    --page-padding: 0 6.25rem;
    --border-radius: 20px 8px 20px 8px;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
