@import "modal.css";

:root {
    --dark-purple: #19072c;
    --medium-purple: #2b1b3d;
    --light-purple: #8c8395;
    --bright-purple: #6c42bf;
    --bright-pink: #cd00c4;
    --border-color: #4b3d5a;
    --white: #ffffff;

    --page-padding: 0 6.25rem;
    --border-radius: 20px 8px 20px 8px;
}

* {
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.125rem;
    font-weight: 600;
}

label {
    font-size: 0.875rem;
    margin: 0.75rem 0 0.25rem 0;
}

input, select, .dropdown {
    cursor: text !important;
    height: auto !important;
    color: var(--white) !important;
    background-color: var(--medium-purple) !important;
    border: 1px solid var(--light-purple) !important;
    border-radius: 4px !important;
    padding: 0.75rem 1rem !important;
    
    &::placeholder {
        color: var(--light-purple) !important;
    }
}

button.primary-btn {
    cursor: pointer;
    height: 100%;
    font-weight: 600;
    color: var(--white);
    background-color: var(--bright-purple);
    border: 2px solid var(--bright-purple);
    border-radius: 4px;
    padding: 0.75rem 1rem;
}

button.secondary-btn {
    cursor: pointer;
    font-weight: 600;
    color: var(--bright-purple);
    background-color: transparent;
    border: 2px solid var(--bright-purple);
    border-radius: 4px;
    padding: 0.75rem 1rem;
}

/* Styling that overwrites Bootstrap components */
.bb-sidebar-content {
    display: block !important;
}

input.form-control {
    color: black !important;
}

input#DatePickerWithTime {
    color: black !important;
}

.form-select option, .rz-calendar input, .rz-spinner input {
    color: black !important;
}

