<div class="seat-selector">
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
<Kiosk_Seat></Kiosk_Seat>
</div>
