<nav>
    <a href="/">
        <img src="images/cinemate-logo.svg" alt="Cinemate logo"/>
    </a>
    <div class="interaction-container">
        <ProgressIndicator></ProgressIndicator>
        <button class="profile-btn" @onclick="OnShowModalClick">
            <i class="fa-regular fa-user"></i>
        </button>    
    </div>
</nav>

<Modal @ref="_modal" ElementId="login-modal" title="Inloggen" UseStaticBackdrop="true" CloseOnEscape="true">
    <BodyTemplate>
        <p>Log in voor toegang tot het admin systeem</p>
        <form>
            <label>E-mailadres</label>
            <input type="text"/>
            <label>Wachtwoord</label>
            <input type="password"/>
        </form>
        <button class="primary-btn">Inloggen</button>
    </BodyTemplate>
</Modal>

@code {
    private Modal _modal = default!;

    private async Task OnShowModalClick()
    {
        await _modal.ShowAsync();
    }
}