<div class="progress-state">
    <div class="progress-sphere">
        <p>1</p>
    </div>
    <p>Selecteer je voorstelling</p>    
</div>
<div class="progress-state">
    <div class="progress-sphere">
        <p>2</p>
    </div>
    <p>Selecteer je stoel</p>    
</div>
<div class="progress-state">
    <div class="progress-sphere">
        <p>3</p>
    </div>
    <p>Tickets en betalen</p>    
</div>


