.movie-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
    
    & .movie-container-inner {
        display: flex;
        align-items: center;

        & .movie {
            background-size: cover;
            aspect-ratio: 2 / 3;
            height: 12.5rem;
            border-radius: var(--border-radius);
            margin-right: 1.5rem;
        }
        
        & .movie-details {
            display: flex;
            flex-direction: column;
            
            & h3 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }
        }
    }
}
