.date-selector-container {
    display: flex;
    border: 1px solid var(--white);
    border-radius: 4px;
    margin-top: 2rem;
    
    & .date-container {
        cursor: pointer;
        padding: 1rem;
        color: var(--white);
        background-color: unset;
        border: none;
        
        &:hover, :active {
            background-color: var(--bright-purple);
            border-radius: 4px;
        }
    }
    
    & .move-container {
        cursor: pointer;
        padding: 1rem;
        color: var(--white);
        background-color: var(--bright-purple);
        border: none;
    }

}
.date-selector-container button.date-container.selected {
    background-color: var(--bright-purple);
    border-radius: 4px;
}