<div class="date-selector-container">
    <button class="date-container">
        VANDAAG
    </button>   
    <button class="date-container">
        WO 13 MRT
    </button>  
    <button class="date-container">
        DO 14 MRT
    </button>  
    <button class="date-container">
        VR 15 MRT
    </button>  
    <button class="date-container">
        ZA 16 MRT
    </button>  
    <button class="date-container">
        ZO 17 MRT
    </button>  
    <button class="date-container">
        MA 18 MRT
    </button> 
</div>
