.date-selector-container {
    display: flex;
    border: 1px solid var(--white);
    border-radius: 4px;
    margin-top: 2rem;
    
    & button.date-container {
        cursor: pointer;
        padding: 1rem;
        color: var(--white);
        background-color: unset;
        border: none;
        
        &:hover {
            background-color: var(--bright-purple);
        }
        
        &:active {
            background-color: var(--bright-purple); 
        }
    }

}
.date-selector-container button.date-container.selected {
    background-color: var(--bright-purple);
    border-radius: 4px;
}