@page "/kiosk"
@layout MainLayout


<PageTitle>Cinemate</PageTitle>

<div class="home-layout-inner">
    <h1>Nu in de bioscoop</h1>
    
    <Kiosk_TimeSlotSelector></Kiosk_TimeSlotSelector>
    
    <Kiosk_Movie></Kiosk_Movie>
</div>
        
<SocialMedia></SocialMedia>
<Newsletter></Newsletter>
    


