@page "/kiosk"
@layout MainLayout


<PageTitle>Cinemate</PageTitle>

<div class="home-layout-inner">
    <h1>Nu in de bioscoop</h1>
    
    <TimeSlotSelector></TimeSlotSelector>
    
    <Movie></Movie>
</div>
        
<SocialMedia></SocialMedia>
<Newsletter></Newsletter>
    


