@layout UserLayout
@page "/kiosk/show-reservation"
@page "/kiosk/show-reservation/{movieId:int}"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Localizer

@using Cinemate.Models
@using Cinemate.Models.Dto
@using Cinemate.Web.Services.Contracts
@inject NavigationManager NavigationManager
@inject ISelectedMovieService SelectedMovieService



<h2>@Localizer["Kies een voorstelling"]</h2>
<Kiosk_TimeSlotSelector MovieId="movieId"></Kiosk_TimeSlotSelector>

@code
{
    [Parameter] public int movieId { get; set; }
}
