<div class="time-slot-selector-container">
    <h2>Woensdag 7 februari</h2>
    <div class="time-slot-selector-inner">
        <TimeSlot></TimeSlot>
        <TimeSlot></TimeSlot>
        <TimeSlot></TimeSlot>
    </div>
</div>