<div class="seat-selector">
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
<Seat></Seat>
</div>
