@inherits LayoutComponentBase

<HeadContent>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
</HeadContent>


<div class="bb-page">
    <Sidebar @ref="sidebar"
             IconName="IconName.BootstrapFill"
             Title="Cinemate"
             DataProvider="SidebarDataProvider" />

    <main>
        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>
    <Preload LoadingText="Loading..." />


</div>



@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/admin", IconName = IconName.House, Text = "Home"},
            new NavItem { Id = "2", Href = "/admin/movies", IconName = IconName.Film, Text = "Movies"},
            new NavItem { Id = "3", Href = "/admin/movie-categories", IconName = IconName.Tags, Text = "Categories"},
            new NavItem { Id = "4", Href = "/admin/screenings", IconName = IconName.CollectionPlay, Text = "Screenings"},
            new NavItem { Id = "5", Href = "/admin/theater-rooms", IconName = IconName.BuildingGear, Text = "Theater rooms"},
            new NavItem { Id = "6", Href = "/admin/theaters", IconName = IconName.BuildingGear, Text = "Theaters"},
            new NavItem { Id = "7", Href = "/admin/seats", IconName = IconName.Grid, Text = "Seats"},
            new NavItem { Id = "8", Href = "/admin/reservations", IconName = IconName.TicketPerforated, Text = "Reservations"},
            new NavItem { Id = "9", Href = "/admin/tickets", IconName = IconName.Ticket, Text = "Tickets"},
            new NavItem { Id = "10", Href = "/admin/promo-codes", IconName = IconName.CreditCard, Text = "Promo codes"},
            new NavItem { Id = "11", Href = "/admin/employees", IconName = IconName.UniversalAccess, Text = "Employees"},
            new NavItem { Id = "12", Href = "/admin/users", IconName = IconName.UniversalAccess, Text = "Users"},
            new NavItem { Id = "13", Href = "/admin/Authorization", IconName = IconName.UniversalAccessCircle, Text = "Authorization"},
        };

        return navItems;
    }
}