@using System.Globalization
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <header>
        <NavMenu></NavMenu>
    </header>
    <main>
        @Body
    </main>
    <footer>
        <p>ⓒ Cinemate 2024</p>
        <button @onclick="ChangeLanguage">Verander de taal</button>
    </footer>
</div>

@code {
    private void ChangeLanguage()
    {
        var currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
        var newCulture = currentCulture == "en-US" ? "nl-NL" : "en-US";
        
        CultureInfo.CurrentCulture = new CultureInfo(newCulture);
        CultureInfo.CurrentUICulture = new CultureInfo(newCulture);

        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

}