.page {
    display: flex;
    flex-direction: column;

    & header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--dark-purple);
        margin-bottom: 1.5rem;
        padding:  var(--page-padding);
    }

    & main {    
        display: flex;
        gap: 5rem;
        padding: var(--page-padding);
    }

    & footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75rem;
        margin-top: 6.25rem;
    }
}