@inherits LayoutComponentBase
@inject ISelectedMovieService SelectedMovieService


<div class="user-layout">
    <header>
        <NavMenu></NavMenu>
        <MovieThumbContainer></MovieThumbContainer>
    </header>
    <main>
        <aside>
            <MovieInfo></MovieInfo>
        </aside>
        <article>
            @Body
        </article>
    </main>
    <footer>
        <p>ⓒ Cinemate 2024</p>
    </footer>
</div>
