.time-slot-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 12.5rem;
    padding: 1rem;
    background-color: var(--medium-purple);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    
    & div {
        & p.time {
            font-size: 1.125rem;
        }
        
        & p.location {
           color: var(--bright-pink); 
        }
    }
    
    & i {
        color: var(--bright-pink);
    }
}