<div class="time-slot-selector-container">
    <h3>Woensdag 7 februari</h3>
    <div class="time-slot-selector-inner">
        <TimeSlot></TimeSlot>
        <TimeSlot></TimeSlot>
        <TimeSlot></TimeSlot>
    </div>
</div>