@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Components/NavMenu.razor.rz.scp.css */
nav[b-mcwo7ox7gz] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;

    & button.profile-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.75rem;
        width: 2.75rem;
        background-color: var(--medium-purple);
        border: 2px solid var(--white);
        border-radius: 100%;
        color: white;
    }
}

#login-modal[b-mcwo7ox7gz] {
   background-color: var(--white);
}
/* /Components/User/Movie/Movie.razor.rz.scp.css */
.movie-container[b-apulvrm4fh] {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 0;
    
    .movie {
        background-size: cover;
        height: 20rem;
        width: 13.75rem;
        border-radius: var(--border-radius);
    }    
}
/* /Components/User/Movie/MovieInfo.razor.rz.scp.css */
& img.movie-img-container[b-lzitdn2t8h] {
    width: 100%;
    border-radius: 20px 8px 20px 8px;
    margin-bottom: 1.25rem;
}

.movie-details-primary[b-lzitdn2t8h] {
    display: flex;
    align-content: center;
    gap: 1rem;
    margin: 1rem 0;

    & .mpa-rating {
        display: flex;
        align-items: center;
        gap: 0.375rem;

        & img.mpa-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    & p.movie-duration[b-lzitdn2t8h] {
        color: var(--light-purple);
    }
}



table.movie-details-secondary[b-lzitdn2t8h] {
    width: 100%;
    margin: 1rem 0;

    & tbody {
        & tr {
            & td:first-child {
                & p {
                    color: var(--light-purple);
                }
            }
        }
    }
}
/* /Components/User/Movie/MovieThumb.razor.rz.scp.css */
img.thumb-img-container[b-t2ixj9mwne] {
    cursor: pointer;
    height: 200px;
    border-radius: var(--border-radius);
}
/* /Components/User/Movie/MovieThumbContainer.razor.rz.scp.css */
.movie-thumb-container[b-me2xb2c5d9] {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding-bottom: 1.5rem;
}
/* /Components/User/Newsletter.razor.rz.scp.css */
.newsletter-container[b-jj23dajkmg] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: var(--medium-purple);
    padding: 3rem 0 3.25rem 0;

    & h2 {
        margin-bottom: 0.25rem;
    }

    & .newsletter-input-container[b-jj23dajkmg] {
        & input {
            width: 300px;
            margin: 2rem 0.25rem 0 0;
        }
    }
}
/* /Components/User/SocialMedia.razor.rz.scp.css */
.social-media-container[b-p4412gmoiw] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: var(--medium-purple);
    padding: 3rem 0 3.25rem 0;
    
    & h2 {
        margin-bottom: 0.25rem;
    }
    
    & .social-media-inner[b-p4412gmoiw] {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        
        & a {
            & i {
                font-size: 2rem;
                color: var(--white);
            }
        }
    }
}
/* /Components/User/TimeSlot/TimeSlot.razor.rz.scp.css */
.time-slot-container[b-ue186iv3tb] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 12.5rem;
    padding: 1rem;
    background-color: var(--medium-purple);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    
    & div {
        & p.time {
            font-size: 1.125rem;
        }
        
        & p.location[b-ue186iv3tb] {
           color: var(--bright-pink); 
        }
    }
    
    & i[b-ue186iv3tb] {
        color: var(--bright-pink);
    }
}
/* /Components/User/TimeSlot/TimeSlotSelector.razor.rz.scp.css */
.time-slot-selector-container[b-hrt3u66h2m] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.5rem;
    
    & h3 {
        padding-bottom: 0.625rem;
    }
    
    .time-slot-selector-inner[b-hrt3u66h2m] {
        display: flex;
        gap: 0.625rem;
    }
}
/* /Layout/AdminLayout.razor.rz.scp.css */
.page[b-i9v96k2niy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i9v96k2niy] {
    flex: 1;
}

.sidebar[b-i9v96k2niy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-i9v96k2niy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-i9v96k2niy]  a, .top-row[b-i9v96k2niy]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-i9v96k2niy]  a:hover, .top-row[b-i9v96k2niy]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-i9v96k2niy]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-i9v96k2niy] {
        justify-content: space-between;
    }

    .top-row[b-i9v96k2niy]  a, .top-row[b-i9v96k2niy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i9v96k2niy] {
        flex-direction: row;
    }

    .sidebar[b-i9v96k2niy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i9v96k2niy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-i9v96k2niy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-i9v96k2niy], article[b-i9v96k2niy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-6rb988gbpv] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: var(--dark-purple);
    
    
    & header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--dark-purple);
        margin-bottom: 1.5rem;
        padding:  var(--page-padding);
    }

    & footer[b-6rb988gbpv] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75rem;
    }
}
/* /Layout/UserLayout.razor.rz.scp.css */
.user-layout[b-3ritdkf8u3] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    color: var(--white);
    background-color: var(--dark-purple);

    & header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--dark-purple);
        margin-bottom: 1.5rem;
        padding:  var(--page-padding);
    }

    & main[b-3ritdkf8u3] {
        display: flex;
        gap: 5rem;
        padding: var(--page-padding);

        & aside {
            width: 31.25rem;
        }
   }

    & footer[b-3ritdkf8u3] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75rem;
        margin-top: 6.25rem;
    
    }
}
/* /Pages/User/Home.razor.rz.scp.css */
.home-layout-inner[b-eg6zlpbsvp] {
    padding: var(--page-padding);
}
