@page "/"
@layout MainLayout


<PageTitle>Cinemate</PageTitle>


<div class="home-layout-inner">
    <h1>Nu in de bioscoop</h1>
    <Movie></Movie>
</div>
        
<SocialMedia></SocialMedia>
<Newsletter></Newsletter>
    


