@layout UserLayout
@page "/show-reservation"
@using Cinemate.Models
@using Cinemate.Models.Dto
@using Cinemate.Web.Services.Contracts
@inject NavigationManager NavigationManager
@inject ISelectedMovieService SelectedMovieService



<h1>Kies een voorstelling</h1>
<TimeSlotSelector></TimeSlotSelector>
<TimeSlotSelector></TimeSlotSelector>
