@layout UserLayout
@page "/show-reservation"
@using Cinemate.Models
@using Cinemate.Models.Dto
@using Cinemate.Web.Services.Contracts
@inject NavigationManager NavigationManager
@inject ISelectedMovieService SelectedMovieService



<h2>Kies een voorstelling</h2>
<TimeSlotSelector></TimeSlotSelector>
<TimeSlotSelector></TimeSlotSelector>
