@page "/"
@layout MainLayout


<PageTitle>Cinemate</PageTitle>

<div class="home-layout-inner">
    <h1>Nu in de bioscoop</h1>
    
    <Web_Movie></Web_Movie>
    
    <Kiosk_TimeSlotSelector></Kiosk_TimeSlotSelector>
</div>
    


