@page "/"
@layout MainLayout

<PageTitle>Cinemate</PageTitle>

<div class="home-layout-inner">
    <h1>Nu in de bioscoop</h1>

    <DateSelector OnDateSelected="HandleDateSelected"></DateSelector>

    <MovieAgenda SelectedDate="@selectedDate"></MovieAgenda>
</div>

<SocialMedia></SocialMedia>

@code {
    private DateTime selectedDate;

    private async Task HandleDateSelected(DateTime date)
    {
        selectedDate = date;
    }
}
