.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: var(--medium-purple);
    padding: 3rem 0 3.25rem 0;

    & h2 {
        margin-bottom: 0.25rem;
    }

    & .newsletter-input-container {
        & input {
            width: 300px;
            margin: 2rem 0.25rem 0 0;
        }
    }
}