<div class="newsletter-container">
    <h2>Schrijf je in voor de nieuwsbrief</h2>
    <p>en blijf op de hoogte van de nieuwste films en leuke acties!</p>
    <div class="newsletter-input-container">
        <input type="text" placeholder="johndoe@email.com"/>
        <button class="primary-btn" @onclick="SubscribeToNewsletter">Inschrijven</button>
    </div>
</div>

@code {
    private void SubscribeToNewsletter()
    {
        
    }
}